<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" id="icon-button" (click)="onIconButtonClick()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido principal -->
</ion-content>

<ion-segment value="movies-games">
  <!-- Botón para redirigir a detalle de películas -->
  <ion-segment-button value="movies" (click)="navigateToDetail('movie')">
    <ion-icon name="film-outline"></ion-icon>
    <ion-label>Películas</ion-label>
  </ion-segment-button>

  <!-- Botón para redirigir a detalle de juegos -->
  <ion-segment-button value="games" (click)="navigateToDetail('game')">
    <ion-icon name="game-controller-outline"></ion-icon>
    <ion-label>Juegos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="anime" (click)="navigateToDetail('anime')">
    <ion-icon name="tv-outline"></ion-icon>
    <ion-label>Animes</ion-label>
  </ion-segment-button>
  
</ion-segment>
