.home-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 4px solid white; /* Borde blanco alrededor del contenido */
  box-sizing: border-box; /* Asegura que el borde no afecte el tamaño total */
}

.divMayor {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/assets/bg.png'); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#container {
  text-align: center;
  position: relative; /* Necesario para posicionar el icono en relación con este contenedor */
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icon-button {

  top: 10px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */

  --background: transparent; /* Fondo transparente para el botón */
}

ion-icon {
  font-size: 40px;
  color: #ffffff;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-icons ion-button {
  margin: 0 35px; /* Aumenta la separación horizontal entre los iconos */
}

.footer-icons i {
  font-size: 40px; /* Tamaño de los iconos */
  color: #ffffff; /* Color de los iconos */
}


.content {
  padding-bottom: 56px; /* Ajusta esto según el tamaño del toolbar o botones */
}

.favorites-container {
  padding-bottom: 80px; /* Deja espacio para los botones */
  height: calc(100vh - 80px); /* Hace que el contenedor ocupe todo el alto de la pantalla menos el espacio de los botones */
  overflow-y: auto; /* Permite el desplazamiento dentro del contenedor */
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Asegura que los botones se mantengan sobre el contenido */
}

/* Asegura que el contenido no quede atrás de los botones */
ion-content {
  padding-bottom: 60px; /* Deja espacio para los botones */
  padding-top: 70px; /* Deja un espacio suficiente desde la parte superior si es necesario */
}

ion-toolbar {
  background: transparent; /* Fondo transparente */
}
