.login-content{
/*  --background: url('assets/bg.png') no repeat center center/cover;*/
/*  background-image: url('/assets/bg.png') !important;*/
/*  background-color: lightblue;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card{
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 35%;
}

.logo{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
}

h1{
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

ion-item{
  --background: transparent;
  margin-bottom: 10px;
}

.login-button{
  --background: #800080;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}