<ion-content [fullscreen]="true" class="login">

  <div class="logo-container">
    <img src="assets\RatiMag.webp" alt="logo" class="circular-logo" />
  </div>

  <div class="content-container">
    <!-- Contenedor para los inputs -->
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Usuario o Correo" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <!-- Contenedor para los botones -->
    <div class="button-container">
      <ion-button expand="block" (click)="onLoginButtonPressed()">Login</ion-button>
      <ion-button expand="block" (click)="onRegisterButtonPressed()">Register</ion-button>
    </div>
  </div>
</ion-content>
