ion-content {
    display: flex;
    justify-content: center; /* Centra verticalmente si necesitas */
    align-items: center; /* Centra horizontalmente */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Asegura que los botones estén en la parte inferior */
    width: 100%;
    padding: 32px; /* Espacio a los lados */
    gap: 16px; /* Espacio entre input-container y button-container */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
 }

 /*
.bg{
  position: absolute;
  width: 100%;
  height: 100lh;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(180deg, rgba(125, 76, 152, 0.16) 0%, rgba(0, 0, 0, 0.8) 100%);
}
*/

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.circular-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}