<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="data; else loading">
    <ion-list>
      <ion-item *ngFor="let item of data">
        <ion-label>{{ item.nombre }}</ion-label>  <!-- Cambia "nombre" a la propiedad correcta de tu API -->
      </ion-item>
    </ion-list>
  </div>
  <ng-template #loading>
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando datos...</p>
  </ng-template>
</ion-content>
