<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="divMayor">
    <div class="login-card">
      <img src="assets/RatiMag.webp" alt="logo" class="logo">
      <h1>
        Welcome to FrikyRotte
      </h1>
  
      <ion-item>
        <ion-label position="floating">Email/Username</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
      <ion-button expand="block" class="login-button" (click)="onLoginButtonPressed()">Login</ion-button>
  
      <ion-text>
        <p class="ion-text-center">¿Don't have an account? <a routerLink="/register">Sign Up</a></p>
      </ion-text>
    </div>
  </div>

<!--
  <div class="login-card">
    <img src="assets/RatiMag.webp" alt="logo" class="logo">
    <h1>
      Welcome to FrikyRotte
    </h1>

    <ion-item>
      <ion-label position="floating">Email/Username</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button" (click)="onLoginButtonPressed()">Login</ion-button>

    <ion-text>
      <p class="ion-text-center">¿Don't have an account? <a routerLink="/register">Sign Up</a></p>
    </ion-text>
  </div> -->
</ion-content>
