<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="content-container">
    <div class="input-container">
    
      <ion-item>
        <ion-input placeholder="Correo" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Usuario" type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Confirmar Contraseña" type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
    </div>

    <div class="button-container">

      <ion-button expand="block" (click)="onRegisterButtonPressed()">Registrarse</ion-button>

      <ion-text>
        <p class="ion-text-center">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
      </ion-text>
    </div>
  </div>
  
</ion-content>
